@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&family=Inter:wght@400;500;600;700&family=Manrope:wght@400;500;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

h1,
h2 {
    font-family: 'Manrope', 'Inter', sans-serif;
}

p,
a {
    font-family: 'IBM Plex Sans', 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(49, 49, 49);
    transition: .3s ease;
}
a:hover{
    color: rgb(15, 15, 15)
}

header {
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.171);
    backdrop-filter: blur(100px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.041);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.041);
    z-index: 1;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;

    height: 70px;
    box-sizing: border-box;

}

header>nav {
    display: flex;
    gap: 10px;
    padding: 0 100px;
}

nav>p {
    cursor: pointer;

}

.head-logo {
    width: 160px;
    cursor: pointer;
}

.main {
    margin-top: 70px;
    background: url(images/woman-wearing-smart-glasses-futuristic-technology-digital-remix.jpg);
    width: 100%;
    height: 100vh;
    background-position: top;
    background-size: cover;

    border-radius: 0 0 10px 10px;
}

.container {
    width: 88vw;
    margin: auto;
}

.about, .services{
    max-width: 1200px;
    margin: auto;
}

.about {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 20vh 0;

    font-size: 25px;
}

.about>button {
    margin-top: 50px;
}

button {
    cursor: pointer;
    border: none;
    background-color: #2e93e6;
    color: white;
    padding: 10px;
    border-radius: 30px;
    transition: .3s ease;
}

button:hover {
    background-color: #236daa;
}

.services {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.service-content {
    text-align: center;
}

.products {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20vh 0;
    position: relative;
}

.product-content {
    width: 30vw;
}

.product-content>img {
    width: 30vw;
}

.product-content>h1 {}

.product-content>p {
    margin: 10px 0;
}

.products>a {
    position: absolute;
    right: 0;
    bottom: 10vh;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10vh 0;
    color: rgb(49, 49, 49);
}

.contact img {
    width: 130px;
}

.contact>nav{
    display: flex;
    flex-direction: column;
}

.contact-links{
    display: flex;
    flex-direction: column;
}

.socials{
    margin: 10px 0;
}

.socials img{
width: 30px;
border-radius: 50%;
border: 1px solid black;
cursor: pointer;
}

footer {
    background-color: rgb(20, 20, 20);
    font-size: 10px;
    color: white;
    text-align: center;
    padding: 5px;
}